<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/toughts/add" class="btn">Create a tought</a>
    </div>
    <h3>Yours Toughts</h3>

    <ul>
        {{#each toughts}}
        <li>
            <span class="label">{{this.title}}</span>
            <span class="actions">
                <a href="/toughts/edit/{{this.id}}" class="btn">Edit</a>
                <form action="/toughts/remove" method="post">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <input type="submit" value="delete" class="btn">
                </form>
            </span>
        </li>
        {{/each}}
    </ul>

    {{#if emptyToughts}}
    <p>there are still no thoughts from you, start creating <a href="/toughts/add">from here</a></p>
    {{/if}}
</div>